/* css/core/base.css */

body {
    background:
        var(--aoi-bg);

    color:
        var(--aoi-text);

    font-family:
        Inter,
        sans-serif;

    overflow: hidden;
}

#app {
    width: 100vw;
    height: 100vh;
}

iframe {
    width: 100%;
    height: 100%;
    border: none;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background:
        var(--aoi-surface-alt);

    border-radius:
        999px;
}
