/* css/core/reset.css */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;

    overflow: hidden;

    text-rendering: optimizeLegibility;

    -webkit-font-smoothing: antialiased;
}

body {
    position: relative;

    background: #050505;

    color: #ffffff;

    font-family:
        Inter,
        system-ui,
        sans-serif;
}

button,
input,
textarea,
select {
    outline: none;

    border: none;

    background: transparent;

    color: inherit;

    font: inherit;
}

button {
    cursor: pointer;
}

a {
    color: inherit;

    text-decoration: none;
}

ul,
ol {
    list-style: none;
}

img,
video,
canvas,
svg {
    display: block;

    max-width: 100%;
}

iframe {
    width: 100%;
    height: 100%;

    border: none;
}

:root {
    color-scheme: dark;
}
