.system-context-menu{
  position:absolute;

  min-width:220px;

  background:
    rgba(20,22,30,.92);

  border:
    1px solid rgba(255,255,255,.06);

  border-radius:18px;

  overflow:hidden;

  backdrop-filter:blur(22px);

  z-index:1200;
}

.context-menu-item{
  padding:14px 18px;

  cursor:pointer;

  transition:
    background .16s ease;
}

.context-menu-item:hover{
  background:
    rgba(255,255,255,.06);
} 
