.desktop-space{
  position:absolute;

  inset:0;

  transition:
    transform .3s ease,
    opacity .3s ease;
}

.desktop-space.hidden{
  opacity:0;

  pointer-events:none;

  transform:
    scale(.96);
} 
