.system-taskbar{
  position:absolute;

  top:0;
  left:0;
  right:0;

  height:42px;

  display:flex;
  align-items:center;
  justify-content:space-between;

  padding:0 16px;

  background:
    rgba(12,14,18,.55);

  border-bottom:
    1px solid rgba(255,255,255,.05);

  backdrop-filter:blur(20px);

  z-index:90;
}

.taskbar-left,
.taskbar-right{
  display:flex;
  align-items:center;
  gap:14px;
}

.taskbar-brand{
  font-size:13px;
  font-weight:700;

  letter-spacing:1px;
}

.taskbar-clock{
  font-size:13px;
  color:var(--sys-text-soft);
} 
