#aoi-shell {
  position: fixed;
  inset: 0;

  display: grid;

  grid-template-columns:
    var(--aoi-sidebar-width)
    1fr;

  grid-template-rows:
    var(--aoi-topbar-height)
    1fr;

  grid-template-areas:
    "topbar topbar"
    "sidebar viewport";

  overflow: hidden;

  background: var(--aoi-bg);
} 
