.docs-page {

  padding:
    5rem 2rem;

}

.docs-container {

  width: 100%;

  max-width:
    980px;

  margin-inline:
    auto;

}

.markdown-body {

  line-height:
    1.9;

}

.markdown-body h1 {

  font-size:
    3rem;

  margin-bottom:
    2rem;

}

.markdown-body h2 {

  font-size:
    2rem;

  margin-top:
    3rem;

  margin-bottom:
    1rem;

}

.markdown-body h3 {

  font-size:
    1.5rem;

  margin-top:
    2rem;

  margin-bottom:
    1rem;

}

.markdown-body p {

  margin-bottom:
    1.2rem;

}

.markdown-body code {

  padding:
    0.2rem 0.45rem;

  border-radius:
    8px;

  background:
    rgba(255,255,255,0.08);

}

.markdown-pre {

  overflow-x: auto;

  padding:
    1.4rem;

  border-radius:
    18px;

  margin:
    2rem 0;

  background:
    rgba(255,255,255,0.05);

} 
