.bg-layer {

  position: fixed;
  inset: 0;

  pointer-events: none;

}

.bg-image {

  background:
    url("../../images/background/main-bg.webp")
    center / cover;

  opacity: 0.16;

  transform:
    scale(1.05);

}

.bg-gradient {

  background:
    radial-gradient(
      circle at center,
      rgba(128,160,255,0.18),
      transparent 70%
    );

  will-change:
    transform;

}

.bg-noise {

  opacity: 0.03;

  mix-blend-mode:
    soft-light;

  background-image:
    url("../../images/background/noise.webp");

}
