.devtools-app{
  height:100%;

  display:flex;
  flex-direction:column;

  background:
    rgba(10,12,18,.96);
}

.devtools-header{
  height:58px;

  display:flex;
  align-items:center;

  padding:0 22px;

  border-bottom:
    1px solid rgba(255,255,255,.06);

  font-size:18px;
  font-weight:700;
}

.devtools-layout{
  flex:1;

  display:grid;

  grid-template-columns:
    320px 1fr;
}

.devtools-sidebar{
  border-right:
    1px solid rgba(255,255,255,.06);

  overflow:auto;
}

.devtools-panel{
  padding:22px;

  overflow:auto;
}

.devtools-item{
  padding:16px 20px;

  cursor:pointer;

  border-bottom:
    1px solid rgba(255,255,255,.04);
}

.devtools-item:hover{
  background:
    rgba(255,255,255,.04);
}

.devtools-code{
  padding:18px;

  border-radius:18px;

  background:
    rgba(255,255,255,.04);

  overflow:auto;

  white-space:pre-wrap;

  font-family:
    ui-monospace,
    monospace;

  line-height:1.7;
} 
