@keyframes cosmicFloat{

  0%{
    transform:translate3d(0,0,0);
  }

  50%{
    transform:translate3d(0,-10px,0);
  }

  100%{
    transform:translate3d(0,0,0);
  }
}

@keyframes planetFloat{

  0%{
    transform:
      translate3d(0,0,220px)
      rotate(0deg);
  }

  50%{
    transform:
      translate3d(-12px,-18px,220px)
      rotate(1deg);
  }

  100%{
    transform:
      translate3d(0,0,220px)
      rotate(0deg);
  }
}

@keyframes ringRotate{

  from{
    transform:
      translate3d(0,0,260px)
      rotate(0deg);
  }

  to{
    transform:
      translate3d(0,0,260px)
      rotate(360deg);
  }
}

@keyframes loadingSpin{

  from{
    transform:rotate(0deg);
  }

  to{
    transform:rotate(360deg);
  }
}
