.card{
    opacity:0;
    transform:translateY(40px);
}

.card.visible{
    opacity:1;
    transform:translateY(0);
}

.fade-in{
    animation:fade .6s ease forwards;
}

@keyframes fade{

    from{
        opacity:0;
    }

    to{
        opacity:1;
    }
} 
