html{
  scroll-behavior:smooth;
}

body{
  min-height:100vh;

  background:var(--bg);

  color:var(--text);

  font-family:
    -apple-system,
    BlinkMacSystemFont,
    "SF Pro Display",
    sans-serif;

  overflow-x:hidden;
}

.bg-layer{
  position:fixed;
  inset:0;

  background:
    linear-gradient(
      rgba(15,17,23,0.72),
      rgba(15,17,23,0.82)
    ),
    url("../images/background.webp");

  background-size:cover;
  background-position:center;

  z-index:-1;
} 
