@media (max-width: 768px) {

  .navbar-wrapper {
    flex-direction: column;
    justify-content: center;

    padding-block: 20px;
  }

  .navbar {
    flex-wrap: wrap;
    justify-content: center;
  }

  .hero {
    min-height: auto;

    padding-block: 120px 80px;
  }

  .hero h1 {
    font-size: 3rem;
  }

} 
