.parallax-layer{
  position:fixed;

  inset:0;

  background-position:center;
  background-size:cover;
  background-repeat:no-repeat;

  will-change:transform;

  pointer-events:none;
}

.layer-1{
  z-index:0;
  opacity:0.25;
}

.layer-2{
  z-index:1;
  opacity:0.18;
}

.layer-3{
  z-index:1;
  opacity:0.14;
}

.layer-4{
  z-index:1;
  opacity:0.08;
} 
