.parallax-scene {
  position: fixed;
  inset: 0;
  overflow: hidden;
}

.parallax-layer {

  position: absolute;
  inset: -10%;

  background-size: cover;
  background-position: center;

  animation:
    floatLayer 12s infinite ease-in-out;
}

.layer-back {
  background-image:
    url("../../images/bg/layer-back.webp");
}

.layer-mid {
  background-image:
    url("../../images/bg/layer-mid.webp");
}

.layer-front {
  background-image:
    url("../../images/bg/layer-front.webp");
} 
