.post-page {
    padding-block: 48px;
}

.post-cover {
    width: 100%;

    border-radius:
        var(--radius);

    margin-bottom: 32px;
}

.post-content {
    max-width: 900px;
}

.post-content h1 {
    margin-bottom: 20px;

    font-size:
        clamp(2rem, 4vw, 4rem);
}

.post-content p {
    color:
        var(--muted);
} 
