.aoi-sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px 0;
}

.aoi-sidebar-button {
    width: 52px;
    height: 52px;
    border-radius: 18px;
    background: var(--aoi-rgba);
    color: var(--aoi-text);
    cursor: pointer;
    transition: var(--aoi-transition);
}

.aoi-sidebar-button:hover {
    background: var(--aoi-primary);
} 
